$background-blue: #2780E3;
$background-white: white;
.btn{
  background-color: black;
  border-color: black;
  color: $background-white;
  align-content: center;
  margin-top: 10px;
}
.unfilled{
  color: red;
}
