<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card border-secondary">
      <div class="card-body">
        <legend class="card-title">Sign Up</legend>
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="form-row form-group">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="form-control" [(ngModel)]="form.name" required
                     #name="ngModel" placeholder="Enter name">
            </div>
            <div class="form-group col-md-6">
              <label for="surnames">Surnames</label>
              <input type="text" id="surnames" name="surnames" class="form-control" [(ngModel)]="form.surnames" required
                     #surnames="ngModel" placeholder="Enter surnames">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="input-group-text far fa-envelope"></i>
              </div>
              <input type="text" id="email" name="email" class="form-control" [ngClass]="{'is-invalid': false}"
                     [(ngModel)]="form.email" required #email="ngModel"
                     placeholder="Enter email">
              <div class="invalid-feedback">Sorry, that email's taken. Try another?</div>
            </div>
          </div>

          <div class="form-row form-group">
            <div class="form-group col-md-6">
              <label class="control-label" for="nif">NIF</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><i class="input-group-text fas fa-user"></i></div>
                <input type="text" id="nif" name="nif" class="form-control" [ngClass]="{'is-invalid': false} "
                       [(ngModel)]="form.nif" required #nif="ngModel" placeholder="NIF">
                <div class="invalid-feedback">Invalid NIF</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="phoneNumber">Phone Number</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><i class="input-group-text fas fa-phone"></i></div>
                <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"
                       [(ngModel)]="form.phoneNumber" required #phoneNumber="ngModel" placeholder="Phone number">

              </div>
            </div>
          </div>

          <div class="form-row form-group">
            <div class="form-group col-md-6">
              <label class="control-label" for="name">Password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><i class="input-group-text fas fa-lock"></i></div>
                <input type="password" id="password" name="password" class="form-control"
                       [(ngModel)]="form.password" required #password="ngModel" minlength="6"
                       placeholder="Password">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="password_confirmation">Confirm password</label>
              <input type="password" id="password_confirmation" name="password_confirmation" class="form-control"
                     [(ngModel)]="form.password_confirmation" required #password_confirmation="ngModel"
                     placeholder="Repeat password">
            </div>
          </div>
          <div class="form-group text-center">
            <div class="col-xs-12 pb-3">
              <button type="submit" class="btn btn-secondary btn-block">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
