<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card border-secondary">
      <div class="card-body">
        <h2 class="h2" *ngIf="flight.airport_name">{{flight.airport_name}}</h2>
        <!--/.col-->
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Flight</th>
            <th>From</th>
            <th>Date registered</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{flight.id}}</td>
            <td>{{flight.airline_name}}</td>
            <td>{{flight.date_time}}</td>
            <td>
              <span [ngClass]="{'In time': 'badge badge-success', 'Delayed': 'badge badge-warning', 'Cancelled': 'badge badge-danger'}[flight.status_name]">{{flight.status_name}}</span>
            </td>
          </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
