<div class="row">
  <div *ngFor="let recommendation of recommendations" class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header" [ngStyle]="{background: getUrl(recommendation.city)}">
        <div class="text-value text-white">{{ recommendation.city | uppercase }}</div>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">{{ recommendation.grade | number }}</div>
          <div class="text-uppercase text-muted small">grade</div>
        </div>
        <div>
          <div class="text-value">{{ recommendation.sentiment | number }}</div>
          <div class="text-uppercase text-muted small">avg</div>
        </div>
      </div>
    </div>
  </div>
</div>
