<p>recommendations works!</p>
<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header bg-twitter">
        <i class="fa fa-twitter"></i>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">973k</div>
          <div class="text-uppercase text-muted small">comments</div>
        </div>
        <div>
          <div class="text-value">1.792</div>
          <div class="text-uppercase text-muted small">avg</div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header bg-twitter">
        <i class="fa fa-twitter"></i>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">973k</div>
          <div class="text-uppercase text-muted small">comments</div>
        </div>
        <div>
          <div class="text-value">1.792</div>
          <div class="text-uppercase text-muted small">avg</div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header bg-twitter">
        <i class="fa fa-twitter"></i>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">973k</div>
          <div class="text-uppercase text-muted small">comments</div>
        </div>
        <div>
          <div class="text-value">1.792</div>
          <div class="text-uppercase text-muted small">avg</div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="brand-card">
      <div class="brand-card-header bg-twitter">
        <i class="fa fa-twitter"></i>
      </div>
      <div class="brand-card-body">
        <div>
          <div class="text-value">973k</div>
          <div class="text-uppercase text-muted small">comments</div>
        </div>
        <div>
          <div class="text-value">1.792</div>
          <div class="text-uppercase text-muted small">avg</div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>