<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-edit"></i>Generate train model
      </div>
      <div class="card-body">
        <form (ngSubmit)="createModel()" [formGroup]="createTrainModelForm" novalidate>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Select an Algorithm</label>
            <div class="col-md-9">
              <select class="form-control" id="select1" name="select1" (change)="onChangeAlgorithm($event.target)">
                <option *ngFor="let a of algorithms" [value]="a.id">{{a.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">Select a start date</label>
            <div class="col-md-9">
              <input class="form-control" id="start-date" name="startDate" placeholder="date" formControlName="startDate"
                     type="date"
                     max="{{strTodayDate != undefined ? strTodayDate : '9999-01-01' | date: 'yyyy-MM-dd'}}"
                     [(ngModel)]="startDateStr" [ngClass]="{'is-valid':createTrainModelForm.controls.startDate.valid}">
              <div *ngIf="createTrainModelForm.controls.startDate.touched && createTrainModelForm.controls.startDate.errors?.required"
                   class="red">Start date is required.
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">Select a end date</label>
            <div class="col-md-9">
              <input class="form-control" id="end-date" name="endDate" formControlName="endDate" placeholder="date" type="date"
                     min="{{startDateStr != undefined ? startDateStr : '9999-01-01' | date: 'yyyy-MM-dd'}}"
                     max="{{strTodayDate != undefined ? strTodayDate : '9999-01-01' | date: 'yyyy-MM-dd'}}"
                     [(ngModel)]="endDateStr" [ngClass]="{'is-valid':createTrainModelForm.controls.endDate.valid}">
              <div *ngIf="createTrainModelForm.controls.endDate.touched && createTrainModelForm.controls.endDate.errors?.required"
                     class="red">End date is required.
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
            <div class="col-md-9">
              <textarea class="form-control" id="textarea-input" name="textarea-input"
                        placeholder="Content.." rows="9" readonly>{{algorithmDescription}}</textarea>
            </div>
          </div>

          <p><b>Select the characteristics for the training</b></p>
          <div class="row row_style">
            <div class="col-md-4">
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="date" formControlName="date" ngModel [(ngModel)]="date"> Date</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="time" formControlName="time" ngModel [(ngModel)]="time" > Time</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="id" formControlName="id" ngModel [(ngModel)]="id"> Flight identifier</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="airline_id" formControlName="airline_id" ngModel [(ngModel)]="airline_id"> Airline</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="city_id" formControlName="city_id" ngModel [(ngModel)]="city_id"> Destination</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="airport_id" formControlName="airport_id" ngModel [(ngModel)]="airport_id"> Airport ID</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="temperature" formControlName="temperature" ngModel [(ngModel)]="temperature"> Temperature</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="humidity" formControlName="humidity" ngModel [(ngModel)]="humidity"> Humidity</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="wind_speed" formControlName="wind_speed" ngModel [(ngModel)]="wind_speed"> Wind speed</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="wind_direction" formControlName="wind_direction" ngModel [(ngModel)]="wind_direction"> Wind direction</label>
              </div>
              <div class="form-check">
                <label><input class="form-check-input position-static" type="checkbox"
                              name="pressure" formControlName="pressure" ngModel [(ngModel)]="pressure"> Pressure</label>
              </div>
            </div>
            <div class="red form-check" *ngIf="characteristicsError">{{characteristicsError}}</div>
          </div>
          <div class="form-actions">
            <div class="center">
              <button class="btn btn-primary max" type="submit"
                      [attr.disabled]="(buttonDisabledModel == true ? true : null)"
                      [disabled]="!createTrainModelForm.valid">{{buttonModelStr}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card left">
  <div class="card-header">
    <i class="fa fa-edit"></i>Select or delete model
  </div>
  <div class="card-body">
    <form (ngSubmit)="selectUseModel()" #selectModelForm="ngForm">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Algorithms</label>
        <div class="col-md-9">
          <select class="form-control" name="select1" (change)="onChangeModelType($event.target.value)">
            <option *ngFor="let a of algorithms" [value]="a.id">{{a.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select1">Dates</label>
        <div class="col-md-9">
          <select class="form-control" name="select1" (change)="onChangeModelDate($event.target.value)">
            <option *ngFor="let m of dateArrayModels" [value]="m.id">{{m.date}}</option>
          </select>
        </div>
      </div>

      <div class="center" *ngIf="selectModel">
        <table id="tableReport">
          <tr>
            <th></th>
            <th>Precision</th>
            <th>Recall</th>
            <th>F1-score</th>
          </tr>
          <tr>
            <th>0</th>
            <td>{{selectModel.report_precision_0}}</td>
            <td>{{selectModel.report_recall_0}}</td>
            <td>{{selectModel.report_f1_score_0}}</td>
          </tr>
          <tr>
            <th>1</th>
            <td>{{selectModel.report_precision_1}}</td>
            <td>{{selectModel.report_recall_1}}</td>
            <td>{{selectModel.report_f1_score_1}}</td>
          </tr>
          <tr>
            <th>Macro avg</th>
            <td>{{selectModel.report_accuracy_precision}}</td>
            <td>{{selectModel.report_accuracy_recall}}</td>
            <td>{{selectModel.report_accuracy_f1_score}}</td>
          </tr>
        </table>
      </div>

      <div class="center top-margin" *ngIf="selectModel">
        <label><b>Number of rows: </b><span>{{selectModel.report_num_rows}}</span></label>
      </div>


      <div class="form-actions">
        <div class="center top-margin">
          <button class="btn btn-sm btn-danger margin-btn" type="button"
                  [attr.disabled]="(buttonDeleteModel == true ? true : null)"
                  (click)="deleteModel()">{{buttonDeleteStr}}</button>
          <button class="btn btn-primary max" type="submit"
                  [attr.disabled]="(buttonDisabledUpdate == true ? true : null)">{{buttonUpdateStr}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
