.page-footer{
  background-color: gray;
  color: white;
}
.footer-copyright{
  background-color: black;
  color: white;
}
.logo{
  height: 150px;
  width: 300px;
  margin-left: -100px;
}
a{
  color: white;
  text-decoration: underline;
}
