<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Proyecto de Computación II</h5>
        <p>Grupo 4</p>
        <li type="circle"><a href="https://www.linkedin.com/in/rcebrian/">Rodrigo Cebrián</a></li>
        <li type="circle"><a href="https://www.linkedin.com/in/sergio-gil-caballero-198988174/">Sergio Gil Caballero</a></li>
        <li type="circle">Jazmín Parellada</li>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Conócenos más</h5>

        <ul class="list-unstyled links">
          <li>
            <a href="https://universidadeuropea.es/">Universidad Europea</a>
          </li>
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
        </ul>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <img src="assets/img/ue-logo.svg" alt="logo ue" class="logo">
      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
    <a href=""> </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
