<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">EasyTravel</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link text-white" routerLinkActive="active bg-white text-dark" [routerLinkActiveOptions]="{exact:true}" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLinkActive="active bg-white text-dark" routerLink="analysis">Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLinkActive="active bg-white text-dark" routerLink="flights">Flights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLinkActive="active bg-white text-dark" routerLink="administrator">Administrator</a>
    </li>
  </ul>
</nav>
