<!--  &lt;!&ndash; Analysis &ndash;&gt;-->
<!--  <h2>Analyse</h2>-->
<!--  <p>Connect to Flask REST API to analyse emotions</p>-->

<!--  <div class="card-container">-->
<!--    <a class="card" rel="noopener" href="/analysis">-->
<!--      <i class="far fa-chart-bar"></i>-->

<!--      <span> Analyse</span>-->

<!--      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>-->
<!--  </div>-->

  <div class="card border-primary">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
