<!--  &lt;!&ndash; Analysis &ndash;&gt;-->
<!--  <h2>Analyse</h2>-->
<!--  <p>Connect to Flask REST API to analyse emotions</p>-->

<!--  <div class="card-container">-->
<!--    <a class="card" rel="noopener" href="/analysis">-->
<!--      <i class="far fa-chart-bar"></i>-->

<!--      <span> Analyse</span>-->

<!--      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>-->
<!--  </div>-->
<h1 class="home-title">Welcome to the Sentiment Analysis tool!</h1>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card border-primary">
      <div class="card-body">
        <img src="https://hackernoon.com/drafts/523x232ih.png" alt="Sentiment Analysis" class="header-img">
        <h4 class="card-title">What is Sentiment Analysis?</h4>
        <p class="card-text">Sentiment analysis is the interpretation and classification of emotions within text data
          using text analysis techniques.</p>
        <p>Sentiments can be classified as:
        <li type="circle">Positive</li>
        <li type="circle">Negative</li>
        <li type="circle">Neutral</li>
        </p>

        <h4 class="card-title">How does it work?</h4>
        <p class="card-text">Sentiment analysis models detect polarity within a text, whether it’s a whole document,
          paragraph, sentence, or clause.
          <br>Sentiment analysis uses various Natural Language Processing (NLP) methods and algorithms such as:
        <li type="circle"><b>Rule-based systems</b> that perform sentiment analysis based on a set of manually crafted
          rules.
        </li>
        <li type="circle"><b>Automatic systems</b> that rely on machine learning techniques to learn from data.</li>
        <li type="circle"><b>Hybrid systems</b> that combine both rule-based and automatic approaches.</li>
        </p>
        <h4 class="card-title">What is it used for?</h4>
        <p class="card-text">Understanding people’s emotions is essential for businesses since customers are able to
          express their thoughts and feelings more openly than ever before, due to social media.
          <br>By automatically analyzing customer feedback, from survey responses to social media conversations, brands
          are able to listen attentively to their customers,
          and tailor products and services to meet their needs.</p>
        <a routerLinkActive="active" routerLink="analysis"><input type="button" class="btn" value="Test it!"></a>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
