.btn{
  background-color: #2780E3;
  color: white;
  align-content: center;
}
.btn:hover {
  background-color: white;
  color: #2780E3;
  border-color: #2780E3;
}
.card{
  width: 700px;
  margin: auto;
}
.home-title{
  margin-left: 235px;
}
.header-img{
  width: 100%;
}
