.btn{
  background-color: #2780E3;
  color: white;
  align-content: center;
}
.btn:hover {
  background-color: white;
  color: #2780E3;
  border-color: #2780E3;
}
.card{
  margin: auto;
}
.home-title{
  text-align: center;
}
.header-img{
  width: 100%;
}
