$background-blue: #2780E3;
$background-white: white;
.btn{
  background-color: $background-blue;
  color: $background-white;
  align-content: center;
}
.btn:hover {
  background-color: $background-white;
  color: $background-blue;
  border-color: $background-blue;
}
.card{
  margin: auto;
}
.home-title{
  text-align: center;
}
.header-img{
  width: 100%;
}
