#footer{
  background: rgb(244,244,247);
  background: linear-gradient(180deg, rgba(244,244,247,1) 0%, rgba(255,255,255,0.053658963585434205) 100%, rgba(0,212,255,1) 100%);
  margin-top:0px;
}

.error {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #f86c6b
}

.center{
  display: flex;
  justify-content: center;
}

.margin-top{
  margin-top: 30px;
}
