<!-- Analysis input -->
<div class="row">
  <div class="col-md-3 col-1"></div>

  <div class="col-md-6 col-10">
    <form class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-2 col-2">Library</label>
        <div class="col-md-8 col-9">
          <select [(ngModel)]="lib" name="lib" class="form-control">
            <option selected disabled value=0>Select library</option>
            <option value=1>TextBlob</option>
            <option value=2>Vader</option>
          </select>
        </div>
      </div>
      <div class="form-group row has-success">
        <label class="control-label col-md-2 col-2">Message</label>
        <div class="col-md-8 col-9">
          <textarea [(ngModel)]="msg" type="text" name="message" class="form-control"
                    placeholder="Some text"></textarea>
        </div>
        <div class="col-md-2 col-1" *ngIf="connection">
          <div *ngIf="msg">
            <button mat-raised-button (click)="openDialog()" class="translate" type="submit"><i
              class="fas fa-globe-europe fa-3x"></i></button>
          </div>
        </div>
      </div>

      <div class="form-group submit">
        <input type="submit" value="Analyse" class="form-control form-btn" (click)="getAnalysis()">
      </div>
    </form>
  </div>

  <div class="col-md-3 col-1"></div>
</div>

<!-- Last result-->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-1"><i class="fas fa-percentage"></i></div>
          <div class="col-11">Sentiment Analysis result</div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="resultAnalysisData">
          <p class="card-text">
            <b>Message: </b><span> {{ msgSave }}</span><br>
            <b>Polarity: </b><span> {{ resultAnalysisData.polarity }}</span><br>
            <b *ngIf="!!resultAnalysisData.subjectivity">Subjectivity: </b><span *ngIf="!!resultAnalysisData.subjectivity">{{ resultAnalysisData.subjectivity }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Previous results cards-->
<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-header listResult">
        <div class="row">
          <div class="col-1"><i class="fas fa-list"></i></div>
          <div class="col-11">Previous results</div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="listResult">
          <div class="resultList" *ngFor="let result of listResult">
            <label class="card-text">
              <b>Tool: </b><span>{{ result.lib == 1 ? 'TextBlob' : 'Vader' }}</span><br>
              <b>Message: </b><span>{{ result.message }}</span><br>
              <b>Polarity: </b><span>{{ result.polarity }}</span><br>
              <b *ngIf="!!result.subjectivity">Subjectivity:</b><span *ngIf="!!resultAnalysisData.subjectivity"> {{ result.subjectivity }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>
