<form>
  <div class="form-group">
    <label>Library</label>
    <select [(ngModel)]="lib" name="lib" class="form-control">
      <option selected disabled>Select library</option>
      <option value='1'>TextBlob</option>
      <option value='2'>Vader</option>
    </select>
  </div>

  <div class="form-group">
    <label>Message</label>
    <input [(ngModel)]="msg" type="text" name="message" class="form-control" placeholder="Some text">
  </div>

  <div class="form-group">
    <input type="submit" value="Analyse" class="form-control" (click)="analyse()">
  </div>
</form>
