<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Flights</h4>
        <!-- headers row -->
        <div class="row mt-5">
          <!-- In time column -->
          <div class="col-md-12 col-lg-4 col-xlg-4">
            <div class="card card-hover">
              <div class="bg-in-time text-center text-white">
                <h1 class="font-light">1,738</h1>
                <h6>In time</h6>
              </div>
            </div>
          </div>
          <!-- Delayed column -->
          <div class="col-md-12 col-lg-4 col-xlg-4">
            <div class="card card-hover">
              <div class="box bg-delayed text-center text-white">
                <h1 class="font-light">2,064</h1>
                <h6>Delayed</h6>
              </div>
            </div>
          </div>
          <!-- Cancelled column -->
          <div class="col-md-12 col-lg-4 col-xlg-4">
            <div class="card card-hover">
              <div class="box bg-cancelled text-center text-white">
                <h1 class="font-light">1100</h1>
                <h6>Cancelled</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="zero_config" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Flight</th>
                <th>To</th>
                <th>Airline</th>
                <th>Scheduled</th>
                <th>Departure</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="badge bg-in-time text-white">In time</span></td>
                <td><a href="" class="font-medium link">Elegant Theme Side Menu Open OnClick</a></td>
                <td><a href="" class="font-bold link">276377</a></td>
                <td>Elegant Admin</td>
                <td>Eric Pratt</td>
                <td>2018/05/01</td>
              </tr>
              <tr>
                <td><span class="badge bg-delayed text-white">Delayed</span></td>
                <td><a href="" class="font-medium link">AdminX Theme Side Menu Open OnClick</a></td>
                <td><a href="" class="font-bold link">1234251</a></td>
                <td>AdminX Admin</td>
                <td>Nirav Joshi</td>
                <td>2018/05/11</td>
              </tr>
              <tr>
                <td><span class="badge bg-cancelled text-white">Cancelled</span></td>
                <td><a href="" class="font-medium link">Admin-Pro Theme Side Menu Open OnClick</a>
                </td>
                <td><a href="" class="font-bold link">1020345</a></td>
                <td>Admin-Pro</td>
                <td>Vishal Bhatt</td>
                <td>2018/04/01</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Flight</th>
                <th>To</th>
                <th>Airline</th>
                <th>Scheduled</th>
                <th>Departure</th>
                <th>Status</th>
              </tr>
            </tfoot>
          </table>
          <ul class="pagination float-right">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
