<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card border-secondary">
      <div class="card-body">
        <h2 class="h2">Aeropuerto de Madrid - Barajas</h2><hr>
        <app-map [map]="madridMap"></app-map>
        <br><hr>
        <!--/.col-->
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Flight</th>
            <th>From</th>
            <th>Date registered</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>U28277</td>
            <td>London LGW</td>
            <td>2012/01/01</td>
            <td>
              <span class="badge badge-success">Landed</span>
            </td>
          </tr>
          <tr>
            <td>U27103</td>
            <td>Liverpool LPL</td>
            <td>2012/02/01</td>
            <td>
              <span class="badge badge-danger">CANCELLED</span>
            </td>
          </tr>
          <tr>
            <td>U21115</td>
            <td>Basel BSL</td>
            <td>2012/02/01</td>
            <td>
              <span class="badge badge-secondary">Scheduled</span>
            </td>
          </tr>
          <tr>
            <td>U26995</td>
            <td>Edinburgh EDI</td>
            <td>2012/03/01</td>
            <td>
              <span class="badge badge-warning">Delayed</span>
            </td>
          </tr>
          <tr>
            <td>LH1114</td>
            <td>Frankfurt FRA</td>
            <td>2012/01/21</td>
            <td>
              <span class="badge badge-success">Landed</span>
            </td>
          </tr>
          <tr>
            <td>U28277</td>
            <td>London LGW</td>
            <td>2012/01/01</td>
            <td>
              <span class="badge badge-success">Landed</span>
            </td>
          </tr>
          <tr>
            <td>U27103</td>
            <td>Liverpool LPL</td>
            <td>2012/02/01</td>
            <td>
              <span class="badge badge-danger">CANCELLED</span>
            </td>
          </tr>
          <tr>
            <td>U21115</td>
            <td>Basel BSL</td>
            <td>2012/02/01</td>
            <td>
              <span class="badge badge-secondary">Scheduled</span>
            </td>
          </tr>
          <tr>
            <td>U26995</td>
            <td>Edinburgh EDI</td>
            <td>2012/03/01</td>
            <td>
              <span class="badge badge-warning">Delayed</span>
            </td>
          </tr>
          <tr>
            <td>LH1114</td>
            <td>Frankfurt FRA</td>
            <td>2012/01/21</td>
            <td>
              <span class="badge badge-success">Landed</span>
            </td>
          </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card border-secondary">
      <div class="card-body">
        <h4 class="">Valoraciones sobre - Madrid, España</h4><hr>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <ngx-avatar name="Scraper" [round]="true" size="50" bgColor="#2f353a" class="avatar"></ngx-avatar>
                  <h5 class="comment-title">Lorem ipsum dolor sit amet</h5>
                </div>
              </div>
              <div class="col-md-6">
                <h6 class="comment-date text-right">2020-05-19</h6>
              </div>
            </div>
            <div class="row grade-container">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
            </div>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac feugiat justo. Phasellus at porttitor nunc. Sed accumsan scelerisque mauris. Nunc eu quam non risus fermentum pharetra. Praesent mattis, massa quis luctus posuere, tortor nulla tempus eros, id commodo tortor urna eu augue. Suspendisse in turpis eleifend, aliquam sem vel, varius augue. Cras sit amet lectus nibh. Nulla porta sodales velit, mattis suscipit sapien fringilla sit amet. Praesent vel dapibus ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

              Cras rhoncus congue nunc, ac commodo leo. Fusce pellentesque, leo in convallis tincidunt, lectus orci maximus massa, ut imperdiet velit tortor ac erat. Vestibulum hendrerit arcu a egestas lobortis. Vestibulum molestie erat non sollicitudin mollis. Praesent sed vehicula nunc. Fusce sollicitudin eu orci in rhoncus. Vestibulum malesuada fringilla quam vel lacinia. Donec sem ante, dignissim eu hendrerit eu, suscipit eget est. Cras aliquet erat id urna mattis aliquet. Proin sit amet velit quis diam posuere molestie. Fusce sollicitudin sapien ipsum, non efficitur urna auctor id. Proin sit amet ante suscipit, tincidunt magna et, congue nunc.

              Interdum et malesuada fames ac ante ipsum primis in faucibus. In non diam vehicula, tempus tortor in, vestibulum dolor. Sed porta.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <ngx-avatar name="Scraper" [round]="true" size="50" bgColor="#2f353a" class="avatar"></ngx-avatar>
                  <h5 class="comment-title">Lorem ipsum dolor sit amet</h5>
                </div>
              </div>
              <div class="col-md-6">
                <h6 class="comment-date text-right">2020-05-19</h6>
              </div>
            </div>
            <div class="row grade-container">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
            </div>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac feugiat justo. Phasellus at porttitor nunc. Sed accumsan scelerisque mauris. Nunc eu quam non risus fermentum pharetra. Praesent mattis, massa quis luctus posuere, tortor nulla tempus eros, id commodo tortor urna eu augue. Suspendisse in turpis eleifend, aliquam sem vel, varius augue. Cras sit amet lectus nibh. Nulla porta sodales velit, mattis suscipit sapien fringilla sit amet. Praesent vel dapibus ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

              Cras rhoncus congue nunc, ac commodo leo. Fusce pellentesque, leo in convallis tincidunt, lectus orci maximus massa, ut imperdiet velit tortor ac erat. Vestibulum hendrerit arcu a egestas lobortis. Vestibulum molestie erat non sollicitudin mollis. Praesent sed vehicula nunc. Fusce sollicitudin eu orci in rhoncus. Vestibulum malesuada fringilla quam vel lacinia. Donec sem ante, dignissim eu hendrerit eu, suscipit eget est. Cras aliquet erat id urna mattis aliquet. Proin sit amet velit quis diam posuere molestie. Fusce sollicitudin sapien ipsum, non efficitur urna auctor id. Proin sit amet ante suscipit, tincidunt magna et, congue nunc.

              Interdum et malesuada fames ac ante ipsum primis in faucibus. In non diam vehicula, tempus tortor in, vestibulum dolor. Sed porta.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <ngx-avatar name="Scraper" [round]="true" size="50" bgColor="#2f353a" class="avatar"></ngx-avatar>
                  <h5 class="comment-title">Lorem ipsum dolor sit amet</h5>
                </div>
              </div>
              <div class="col-md-6">
                <h6 class="comment-date text-right">2020-05-19</h6>
              </div>
            </div>
            <div class="row grade-container">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
            </div>
          </div>
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac feugiat justo. Phasellus at porttitor nunc. Sed accumsan scelerisque mauris. Nunc eu quam non risus fermentum pharetra. Praesent mattis, massa quis luctus posuere, tortor nulla tempus eros, id commodo tortor urna eu augue. Suspendisse in turpis eleifend, aliquam sem vel, varius augue. Cras sit amet lectus nibh. Nulla porta sodales velit, mattis suscipit sapien fringilla sit amet. Praesent vel dapibus ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

              Cras rhoncus congue nunc, ac commodo leo. Fusce pellentesque, leo in convallis tincidunt, lectus orci maximus massa, ut imperdiet velit tortor ac erat. Vestibulum hendrerit arcu a egestas lobortis. Vestibulum molestie erat non sollicitudin mollis. Praesent sed vehicula nunc. Fusce sollicitudin eu orci in rhoncus. Vestibulum malesuada fringilla quam vel lacinia. Donec sem ante, dignissim eu hendrerit eu, suscipit eget est. Cras aliquet erat id urna mattis aliquet. Proin sit amet velit quis diam posuere molestie. Fusce sollicitudin sapien ipsum, non efficitur urna auctor id. Proin sit amet ante suscipit, tincidunt magna et, congue nunc.

              Interdum et malesuada fames ac ante ipsum primis in faucibus. In non diam vehicula, tempus tortor in, vestibulum dolor. Sed porta.
            </p>
          </div>
        </div>
        <div class="row">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
          <button aria-pressed="true" class="btn btn-block btn-dark active write-comment" type="button"
                  (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Write comment</button>
        </div>

        <div class="animated fadeIn" [collapse]="isCollapsed">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  <strong></strong>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Summary">
                      </div>
                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea type="text" class="form-control" id="message" placeholder="Describe your experience..."></textarea>
                      </div>
                      <div class="form-group">
                        <label for="start-date">Select date</label>
                        <input class="form-control" id="start-date" name="startDate" placeholder="date"
                               type="date">
                      </div>
                      <div class="form-group">
                        <label>Grade</label>
                        <div class="row grade">
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                        </div>
                      </div>
                    </div>
                  </div><!--/.row-->
                </div>
                <button aria-pressed="true" class="btn btn-block btn-dark active btn-send" type="button">Send</button>
              </div><!--/.col-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
