$train-model-color: #616161;
$select-model-color: #546e7a;
$analysis-info-color: #4db6ac;
$select-library-color: #388e3c;
$update-data-train-color: #8d6e63;
$update-data-now-color: #5c6bc0;
$update-data-comment-color: #ffb74d;
$update-url-color: #90a4ae;

.cont{
  margin-left: 5%;
  margin-right: 5%;
}

.col-md-6 {
  margin-bottom: 3%;
}

.textBox {
  width: 100%;
  height: 185px;
  margin-bottom: 2%;
}

.selectModel {
  margin-bottom: 2%;
}

@media only screen and (max-width: 900px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 900px) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
}

li {
  list-style:none;
}

// Colores
#trainModelCard {
   background-color: $train-model-color;
 }

#selectModelCard {
  background: $select-model-color;
}

#analysisInfoCard {
  background: $analysis-info-color;
}

#selectLibraryCard {
  background: $select-library-color;
}

.updateDataTrainCard{
  background-color: $update-data-train-color;
}

.updateDataNowCard{
  background-color: $update-data-now-color;
}

.updateDataCommentCard{
  background-color: $update-data-comment-color;
}
.updateUrlColor{
  background-color: $update-url-color;
}

.updateTrainBtn{
  background-color: white;
  border-color: $update-data-train-color;
  color: $update-data-train-color;
  border-width: 3px;
}

#trainModelBtn {
  background-color: $train-model-color;
}

#selectModelBtn {
  background: $select-model-color;
  margin-top: 20px;
}

#selectLibraryBtn {
  background: $select-library-color;
}

.input_style{
  width: 6%;
  text-align: center;
}

.row_style {
  margin-left: 0px; margin-bottom: 2%
}

.label_style {
  margin-right: 1%;
}

.date {
  width: 100%;
}

.bottomMargin{
  margin-bottom: 20px;
}

.error {
  color:red;
  font-size: 12px;
}

#textMargin{
  margin-top: 20px;
}

#tableReport{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#numRows{
  margin-top: 10px;
  text-align: center;
}

.line {
  font-size: 4px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.line span {
  background-color: white;
  padding: 0 10px;
  font-size: 15px;
}

.topMargin{
  margin-top: 20px;
}
