<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <app-recommendations></app-recommendations>
      <div class="card">
        <div class="card-header">
          Airports
        </div>
        <div class="card-body">
          <div class="row">
            <div *ngFor="let stat of stats" class="col-sm-4">
              <!-- callout-success callout-warning callout-danger-->
              <div class="callout"
                   [ngClass]="{'Landed': 'callout-success', 'Landed Late': 'callout-warning', 'Cancelled': 'callout-danger'}[stat.status]">
                <small class="text-muted">{{ stat.status }}</small>
                <br>
                <strong class="h4">{{ stat.daily_count | number }}</strong>
              </div>
            </div>
          </div>
          <hr class="mt-0">
          <app-map></app-map>
          <br>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
