<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <app-recommendations></app-recommendations>
      <div class="card">
        <div class="card-header">
          Airports
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="callout callout-success">
                <small class="text-muted">In time</small>
                <br>
                <strong class="h4">{{ stats[0].daily_count | number }}</strong>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-4">
              <div class="callout callout-warning">
                <small class="text-muted">Delayed</small>
                <br>
                <strong class="h4">{{ stats[1].daily_count | number }}</strong>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-4">
              <div class="callout callout-danger">
                <small class="text-muted">Cancelled</small>
                <br>
                <strong class="h4">{{ stats[2].daily_count | number }}</strong>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <hr class="mt-0">
          <app-map></app-map>
          <br>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>