<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <app-recommendations></app-recommendations>
      <div class="card">
        <div class="card-header">
          Airports
        </div>
        <div class="card-body">
          <div class="row">
            <div *ngFor="let stat of stats" class="col-sm-4">
              <!-- callout-success callout-warning callout-danger-->
              <div class="callout"
                   [ngClass]="{'In time': 'callout-success', 'Delayed': 'callout-warning', 'Cancelled': 'callout-danger'}[stat.status]">
                <small class="text-muted">{{ stat.status }}</small>
                <br>
                <strong class="h4">{{ stat.daily_count | number }}</strong>
              </div>
            </div>
          </div>
          <hr class="mt-0">
          <app-map [map]="dashboardMap"></app-map>
          <br>
          <div class="row">
            <div class="col-md-6">
              <table class="table table-sm table-striped">
                <thead>
                <tr>
                  <th>Airport Name</th>
                  <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let airport of airportsLeft">
                  <td> <a routerLink="/airports/{{ airport.airport_id }}">{{ airport.airport_name }}</a> </td>
                  <td>{{ airport.airport_country + ' / ' + airport.airport_city }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <table class="table table-sm table-striped">
                <thead>
                <tr>
                  <th>Airport Name</th>
                  <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let airport of airportsRight">
                  <td> <a routerLink="/airports/{{ airport.airport_id }}">{{ airport.airport_name }}</a> </td>
                  <td>{{ airport.airport_country + ' / ' + airport.airport_city }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
