.airport-img{
  width: 337px;
  height: 261px;
}
#map{
  height: 261px;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 30px;
  width: 97%;
}
button{
  border-radius: 60%;
  text-align: center;
  margin-right: 10px;
}
.airport-name{
  color: black;
  text-decoration: none;
}
